.contacts {
  padding: 200px 0 60px;
  position: relative;

  &--secondary {
    padding-top: 30px;
    background-color: #39413a;

    @media screen and (max-width: 767px) {
      padding: 60px 0 60px !important;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 320px 0 60px;
  }
}

.contacts-list {
  display: flex;
  position: absolute;
  top: -140px;

  @media screen and (min-width: 1024px) and (max-width: 1409px) {
    top: -100px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    top: -70px;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.contacts-item {
  width: 274px;
  height: 274px;
  background-color: #f5f5f5;
  border: 10px solid white;
  border-right: 5px solid white;
  border-left: 5px solid white;

  &:first-child {
    border-left: 10px solid white;
  }

  &:last-child {
    border-right: 10px solid white;
  }

  & p {
    font-weight: 600;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  &--active {
    background-color: #60a00c;
    padding: 111px 0 111px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1409px) {
    width: 198px;
    height: 200px;

    &--active {
      padding: 0;
      padding-top: 70px;
    }
  }

  @media screen and (max-width: 1023px) {
    width: 147px;
    height: 149px;

    &--active {
      padding: 0;
      padding-top: 30px;
    }
  }
}

.contacts__main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  @media screen and (max-width: 1409px) {
    flex-wrap: wrap;
  }
}

.contacts__thumb {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fceee7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;

  & svg {
    fill: #111;
  }

  &--secondary {
    background-color: #4c544d;

    & svg {
      fill: white;
    }
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__call-info {
  display: flex;

  &--secondary {
    color: white;
  }

  @media screen and (min-width: 1024px) and (max-width: 1409px) {
    margin-bottom: 30px;
    margin-left: 170px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-bottom: 30px;
    margin-left: 100px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.contacts__mail-info {
  display: flex;

  &--secondary {
    color: white;
  }

  @media screen and (min-width: 1024px) and (max-width: 1409px) {
    margin-left: 170px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-left: 100px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.contacts__heading {
  font-family: 'LobsterTwo';
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 5px;
}

.contacts__text {
  font-size: 15px;

  @media screen and (max-width: 767px) {
    width: 300px;
  }
}

.contacts__number {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  margin-top: 25px;
}

.contacts__form {
  display: flex;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.contacts__input {
  width: 300px;
  padding: 12px 0 13px 20px;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  outline: none;

  &--secondary {
    background-color: #39413a;

    &::placeholder {
      color: #888888;
    }
  }
}

.contacts__button {
  cursor: pointer;
  width: 158px;
  font-family: 'Quicksand';
  font-weight: 600;
  font-size: 14px;
  border-radius: 0%;
  text-transform: uppercase;
  background-color: #88b13e;
  color: white;
  border: none;
  letter-spacing: 0.2em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #fcbbcf;
  }

  @media screen and (max-width: 767px) {
    padding: 12px 0 13px;
    width: 100%;
  }
}
