.icon {
  fill: white;
}

/* header */
/* header-top */
.header__top-bg {
  background-color: #88b13e;

  &--secondary {
    background-color: #223324;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.header__switch {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;

  color: white;

  display: flex;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    flex-direction: column;
    align-items: end;
  }
}

.header__switch-item {
  display: flex;
  align-items: center;
}

.header__contacts a {
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;

  color: white;

  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.header__icon {
  margin-right: 7px;
}

.header__contacts-item {
  padding: 7px;

  &:first-child {
    margin-right: 30px;
  }

  &:nth-child(2n) {
    padding-left: 30px;
    border-left: 1px solid white;
  }

  @media screen and (max-width: 767px) {
    &:first-child {
      padding-bottom: 5px;
      border-bottom: 1px solid white;
      margin-right: 0;
    }

    &:nth-child(2n) {
      padding-left: 5px;
      border-left: none;
    }
  }
}

/* header-main */
// header {
//   position: fixed;
//   background-color: white;
// }

.header__links {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

.header__main {
  display: flex;
  align-items: center;
  padding: 18px 0 18px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px;
    position: relative;
  }
}

.header__link-item {
  margin-right: 40px;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-right: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;

  color: #111111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #88b13e;
  }

  &:hover svg {
    fill: #88b13e;
  }
}

.header__link--current {
  position: relative;
  color: #88b13e;

  & svg {
    fill: #88b13e;
  }

  &::after {
    position: absolute;
    top: 52px;
    left: -8px;
    content: '';
    width: 63px;
    height: 2px;
    border-radius: 2px;
    background-color: #88b13e;
  }

  @media screen and (max-width: 767px) {
    &::after {
      content: none;
    }
  }
}

.header__icons {
  display: flex;
}

.header__icons-item {
  margin-left: 25px;

  & a {
    position: relative;
  }

  @media screen and (max-width: 767px) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.cart-indicator {
  position: absolute;
  top: -18px;
  right: -6px;
  width: 20px;
  height: 20px;
  background-color: #88b13e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }

  &--hidden {
    display: none;
  }
}

.header__icon-main {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: #88b13e;
  }
}

.logo {
  margin-left: 214px;
  margin-right: 425px;

  font-family: 'LobsterTwo';
  font-weight: 400;
  font-size: 42px;

  &--secondary {
    color: #60a00c;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-right: 75px;
    margin-left: 40px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1409px) {
    margin-left: 20px;
    margin-right: 230px;
  }

  @media screen and (max-width: 767px) {
    display: none;
    margin: 0;
  }
}

.header__logo {
  display: block;
  font-size: 26px;
}

.header__container {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__container-mobile {
  @media screen and (max-width: 767px) {
    transform: translateY(-1000px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__container-drop-down {
  position: relative;
}

.header__container-closed {
  display: none;
  position: absolute;
  transform: translate(1000px);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__container-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: whitesmoke;
  z-index: 999;
  max-width: 2400px;
  padding-left: 4.5vw;
}

.header__main-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px;
}

.btn-open {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--close {
    position: absolute;
    right: 10px;
    top: 15px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &--fixed {
    position: fixed;
    right: 10px;
    background-color: whitesmoke;
    padding: 6px 10px 2px;
    z-index: 999;
  }
}

.not-visible {
  @media screen and (max-width: 767px) {
    position: absolute;
  }
}

.header__link-flex {
  display: flex;
  align-items: center;

  & svg {
    margin-left: 4px;
    margin-top: 3px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// drop-down menu

.drop-down {
  position: absolute;
  left: 70px;
  background-color: white;
  padding: 40px 60px 30px 40px;
  display: flex;
  box-shadow: 10px 14px 14px 1px rgba(34, 60, 80, 0.2);

  &--non-visible {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    padding: 20px 30px 15px 20px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 30px;
    left: 0;
    top: 90px;
  }
}

.drop-down__list {
  display: flex;
  flex-direction: column;
  margin-right: 100px;

  @media screen and (max-width: 1023px) {
    margin-right: 50px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 20px;
  }

  &--last {
    margin-right: 0;

    @media screen and (max-width: 1023px) {
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }
}

.drop-down__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 2.22;

  @media screen and (max-width: 1023px) {
    font-size: 16px;
  }
}

.drop-down__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 2.66;

  @media screen and (max-width: 1023px) {
    font-size: 13px;
  }
}

.drop-down__sub-list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.drop-down__sub-list__list--first {
  margin-right: 40px;

  @media screen and (max-width: 1023px) {
    font-size: 15px;
  }
}
