.table__img {
  height: 130px;
  width: 130px;
}

.table__quantity {
  margin: 0;
}

.table__section {
  padding-top: 40px;
  padding-bottom: 90px;
}

.table {
  width: 100%;
  border-spacing: 0px 40px;

  & th {
    text-align: left;
    border-bottom: 1px solid #ececec;
    font-weight: 500;
    font-size: 18px;
    color: #000000;

    &:first-child {
      width: 55%;
    }

    &:nth-child(2) {
      width: 15%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 15%;
    }
  }

  & td {
    &:first-child {
      display: flex;
      align-items: center;
    }

    &:last-child div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

.table__paragraph {
  font-weight: 500;
  font-size: 42px;
  color: #333333;
  margin-bottom: 40px;
}

.table__desc {
  margin-left: 30px;
}

.table__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.39;
  color: #333333;
}

.table__price {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.table__total {
  padding-top: 40px;
  border-top: 1px solid #ececec;
}

.table__button {
  align-self: flex-start;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #111111;
  padding: 12px 30px;
  background: #ececec;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #60a00c;
    color: white;
  }
}

.table__total {
  display: flex;
  justify-content: space-between;
}

.table__cartTotal {
  padding: 12px 30px 30px;
  background-color: #f5f5f5;
  width: 370px;
}

.table__total-top {
  padding-bottom: 12px;
  border-bottom: 1px solid #c4c4c4;

  & p {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #111111;
  }
}

.table__total-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;

  & span {
    font-size: 15px;
    color: #111111;
  }
}

.table__total-price {
  font-weight: 600;
  font-size: 18px;
}

.table__total-href {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 50px;
  background-color: #111111;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #60a00c;
  }
}
