<div class="product-list__top">
  <div class="container">
    <h2 class="collection__heading">{{ categoryName }}</h2>
    <div class="product-list__text">
      <p>Home</p>
      <svg
        enable-background="new 0 0 220.682 220.682"
        version="1.1"
        viewBox="0 0 220.68 220.68"
        xml:space="preserve"
        width="12px"
        height="12px"
      >
        <polygon points="92.695 38.924 164.11 110.34 92.695 181.76 120.98 210.04 220.68 110.34 120.98 10.639" />
        <polygon points="28.284 210.04 127.99 110.34 28.284 10.639 0 38.924 71.417 110.34 0 181.76" />
      </svg>
      <span class="category">{{ categoryName }}</span>
    </div>
  </div>
</div>