<div class="product-list__top" id="list">
  <div class="container">
    <h2 class="collection__heading">{{ categoryName }}</h2>
    <div class="product-list__text">
      <p>Home</p>
      {{> doubleArrowIcon }}
      <span class="category">{{ categoryName }}</span>
    </div>
  </div>
</div>