<section class="contacts">
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-item"></li>
      <li class="contacts-item contacts-item--active">
        <p>Follow us on Instargam @organicfood</p>
      </li>
      <li class="contacts-item"></li>
      <li class="contacts-item"></li>
      <li class="contacts-item"></li>
    </ul>

    <div class="contacts__main">
      <div class="contacts__call-info">
        <div class="contacts__thumb">
          {{> callIcon }}
        </div>
        <div class="contacts__info">
          <h4 class="contacts__heading">Call us 24/7</h4>
          <p class="contacts__text">You have questions, contact us immediately for answers.</p>
          <p class="contacts__number">+3 398 356 4793</p>
        </div>
      </div>

      <div class="contacts__mail-info">
        <div class="contacts__thumb">
          {{> mailIcon }}
        </div>
        <div class="contacts__info">
          <h4 class="contacts__heading">Subscribe Newsletter</h4>
          <p class="contacts__text">Sign up for weekly newsletter and better ecommercestores</p>
          <form class="contacts__form">
            <input class="contacts__input" type="email" placeholder="Enter your email" />
            <button class="contacts__button" type="submit">subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>