<section class="contact">
  <div class="container container__contact">
    <div class="contact__map">
      <h2 class="collection__heading contact__heading">Our location</h2>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.6280018450843!2d76.93936305767743!3d8.501053506875492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bb969aa96dad%3A0x8d075de05f7d84b0!2sOrgafresh!5e0!3m2!1sru!2snl!4v1647938996395!5m2!1sru!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="contact__info">
      <div class="contacts__main contact__contacts">
          <div class="contacts__call-info contact__call-info">
            <div class="contacts__thumb">
              {{> callIcon }}
            </div>
            <div class="contacts__info">
              <h4 class="contacts__heading">Call us 24/7</h4>
              <p class="contacts__text">You have questions, contact us immediately for answers.</p>
              <p class="contacts__number">+3 398 356 4793</p>
            </div>
          </div>

          <div class="contacts__mail-info">
            <div class="contacts__thumb">
              {{> mailIcon }}
            </div>
            <div class="contacts__info">
              <h4 class="contacts__heading">Subscribe Newsletter</h4>
              <p class="contacts__text">Sign up for weekly newsletter and better ecommercestores</p>
              <form class="contacts__form">
                <input
                  class="contacts__input"
                  type="email"
                  placeholder="Enter your email"
                />
                <button class="contacts__button" type="submit">subscribe</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>