{{#if shopPage}}
<footer class="footer footer--secondary">
{{else}}
<footer class="footer">
{{/if}}

  <div class="container footer__container">
    <div class="footer__column">

      {{#if shopPage}}
      <h2 class="collection__heading footer__column-heading"><span class="logo--secondary">Orga</span>Fresh</h2>
      {{else}}
      <h2 class="collection__heading footer__column-heading">OrgaFresh</h2>
      {{/if}}

      <p class="footer__schedule">Monday - Saturday: 8:00am - 4:00pm</p>
      <p class="footer__schedule">Sunday: 9:00am - 5:00pm</p>
    </div>

    <div class="footer__column footer__column--second">
      <ul class="footer__sub-columns">
        <li class="footer__sub-column">
          <h4 class="footer__heading">Quick links</h4>
          <ul class="footer__sub-column-list">
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">About us</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Blog</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/order/chekout">Check out</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/contact/howToFind">Contact</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Service</a></li>
          </ul>
        </li>
        <li class="footer__sub-column">
          <h4 class="footer__heading">Categories</h4>
          <ul class="footer__sub-column-list">
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/products/?category=vegetables">Vegetable</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/products/?category=fruits">Fresh Fruits</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/products/?category=meats">Fresh Meats</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/products/?category=grainAndNuts">Grain & Nuts</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="/products/?category=smoothies">Smothie</a></li>
          </ul>
        </li>
        <li class="footer__sub-column">
          <h4 class="footer__heading">Help Center</h4>
          <ul class="footer__sub-column-list">
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Help & FAQs</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Returns Policy</a></li>
            <li class="footer__sub-column-item">
              <a class="footer__sub-column-link" href="">Terms & Conditions</a>
            </li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Privacy Policy</a></li>
            <li class="footer__sub-column-item"><a class="footer__sub-column-link" href="">Support Center</a></li>
          </ul>
        </li>
        <li class="footer__sub-column">
          <h4 class="footer__heading">Contact Info</h4>
          <ul class="footer__sub-column-list">
            <li class="footer__sub-column-item">
              <p class="footer__sub-column-text">29 Rue du Bourg Tibourg, 75004 Paris, France</p>
            </li>
            <li class="footer__sub-column-item">
              <a class="footer__sub-column-link" href="mailto:Organicfood@gmail.com"> Organicfood@gmail.com </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__bg">
    <div class="container">
      <p class="footer__copyright">Copyright © 2022 Avitexthemes Inc. All rights reserved</p>
    </div>
  </div>
</footer>