<section class="offers">
  <div class="container">
    <ul class="offers__list">
      <li class="offers__item">
        <div class="offers__sale weekDeals__sale">
          {{> greenBackIcon }}
          <p class="weekDeals__sale-text">new arrivals</p>
        </div>
        <h2 class="offers__heading collection__heading">Discover Real Organic Flavors</h2>
        <a href="/products/?category=all" class="offers__link">shop now</a>
      </li>

      <li class="offers__item">
        <div class="offers__sale weekDeals__sale">
          {{> orangeBackIcon }}
          <p class="weekDeals__sale-text">summer sale</p>
        </div>
        <h2 class="offers__heading collection__heading">Sale off 30% Daily Special Offers</h2>
        <a href="/products/?category=all" class="offers__link">shop now</a>
      </li>
    </ul>
  </div>
</section>