<section class="contacts contacts--secondary">
  <div class="container">
    <div class="contacts__main">
      <div class="contacts__call-info contacts__call-info--secondary">
        <div class="contacts__thumb contacts__thumb--secondary">
          {{> callIcon }}
        </div>
        <div class="contacts__info">
          <h4 class="contacts__heading">Call us 24/7</h4>
          <p class="contacts__text">You have questions, contact us immediately for answers.</p>
          <p class="contacts__number">+3 398 356 4793</p>
        </div>
      </div>

      <div class="contacts__mail-info contacts__mail-info--secondary">
        <div class="contacts__thumb contacts__thumb--secondary">
          {{> mailIcon }}
        </div>
        <div class="contacts__info">
          <h4 class="contacts__heading">Subscribe Newsletter</h4>
          <p class="contacts__text">Sign up for weekly newsletter and better ecommercestores</p>
          <form class="contacts__form">
            <input
              class="contacts__input contacts__input--secondary"
              type="email"
              placeholder="Enter your email"
            />
            <button class="contacts__button" type="submit">subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>