<section class="reviews">
  <div class="container">
    <ul class="reviews__list">
      <li class="reviews__item">
        <p class="reviews__text">
          “Yesterday I received my first box. I was very impressed by the freshness of the produce. I had tried
          (another delivery service) and had to cancel because of low quality.
        </p>
        <div class="reviews__person">
          <div class="reviews__picture"></div>
          <div class="reviews__person-info">
            <span class="reviews__name">Sonya Sahni</span>
            <span class="reviews__location">Gurugam, Haryana</span>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <p class="reviews__text">
          “Yesterday I received my first box. I was very impressed by the freshness of the produce. I had tried
          (another delivery service) and had to cancel because of low quality.
        </p>
        <div class="reviews__person">
          <div class="reviews__picture"></div>
          <div class="reviews__person-info">
            <span class="reviews__name">Sonya Sahni</span>
            <span class="reviews__location">Gurugam, Haryana</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>