<section class="search">
  <div class="container">
    <form class="search__form">
      <input type="text" name="searchQuery" placeholder="Product name"/>
      <button class="form__confirm search__btn" type="submit">search</button>
    </form>
    <ul class="product-list__list search__product-list" id="searchList"></ul>
  </div>
</section>