<div class="shop-cart__overlay shop-cart__overlay--is-hidden">
  <div class="shop-cart">
    <div>
      <div class="shop-cart__header">
        <p class="shop-cart__heading">Shopping cart</p>
        <ul class="header__icons">
          <li class="header__icons-item">
            <a href="/search">
              {{> bigSearchIcon }}
            </a>
          </li>
          <li class="header__icons-item">
            <a href="/wishlist">
              {{> heartIcon }}
            </a>
          </li>
          <li class="header__icons-item">
            <a href="/order/cart">
              {{> bigCartIcon }}
            </a>
          </li>
        </ul>
        <button class="shop-cart__btn">Close</button>
      </div>

      <div class="shop-cart__main">
        <ul class="shop-cart__list"></ul>
      </div>
    </div>

    <div class="shop-cart__footer">
      <div class="shop-cart__total">
        <p class="shop-cart__heading shop-cart__heading--footer">Subtotal</p>
        <span class="shop-cart__quantity" data-total>$0.00</span>
      </div>
      <a class="shop-cart__footerBtn" href="/order/cart">View cart</a>
      <a class="shop-cart__footerBtn shop-cart__footerBtn--last" href="/order/chekout">Checkout</a>
    </div>
  </div>
</div>