<section class="table__section">
  <div class="container">
    <div class="table__container"></div>
    <div class="table__total">
      <button type="button" onclick="history.back();" class="table__button">Continue shopping</button>
      <div class="table__cartTotal">
        <div class="table__total-top">
          <p>cart totals</p>
        </div>
        <div class="table__total-info">
          <span>Total</span>
          <span class="table__total-price">$0.00</span>
        </div>
        <a href="/order/chekout" class="table__total-href">proceed to checkout</a>
      </div>
    </div>
  </div>
</section>