<header>

      {{#if shopPage}}
      <div class="header__top-bg header__top-bg--secondary header__container-mobile not-visible" data-menu>
      {{else}}
      <div class="header__top-bg header__container-mobile not-visible" data-menu>
      {{/if}}  

        <div class="container">
          <div class="header__top">
            <ul class="header__contacts">
              <li class="header__contacts-item">
                <a href="tel:+800345678">
                  <svg class="icon header__icon" viewBox="0 0 15 15" width="15px" height="15px">
                    <path
                      d="m11.855 9.292c-0.3071-0.31975-0.6775-0.49071-1.0701-0.49071-0.3894 0-0.763 0.16779-1.0827 0.48754l-1.0004 0.99726c-0.08231-0.0443-0.16462-0.0855-0.24377-0.1266-0.11397-0.057-0.22161-0.1109-0.31342-0.16784-0.93709-0.59518-1.7887-1.3708-2.6055-2.3744-0.39574-0.5002-0.66167-0.92126-0.85479-1.3486 0.2596-0.23744 0.50021-0.48438 0.73448-0.72182 0.08865-0.08864 0.17729-0.18045 0.26593-0.26909 0.66483-0.66483 0.66483-1.5259 0-2.1908l-0.86427-0.86428c-0.09814-0.09814-0.19945-0.19945-0.29443-0.30076-0.18995-0.19628-0.3894-0.39889-0.59518-0.58884-0.30709-0.30393-0.67432-0.46538-1.0606-0.46538-0.38623 0-0.7598 0.16145-1.0764 0.46538l-0.00633 0.00633-1.0764 1.0859c-0.40523 0.40522-0.63634 0.8991-0.68699 1.4721-0.07598 0.92442 0.19628 1.7855 0.40523 2.3491 0.51287 1.3835 1.279 2.6656 2.4219 4.0396 1.3866 1.6557 3.055 2.9632 4.9609 3.8845 0.72814 0.3451 1.7001 0.7535 2.7859 0.8231 0.0665 0.0032 0.1362 0.0063 0.1995 0.0063 0.7313 0 1.3455-0.2627 1.8267-0.7851 0.0031-0.0063 0.0095-0.0095 0.0126-0.0158 0.1647-0.1995 0.3546-0.3799 0.5541-0.573 0.1361-0.1298 0.2754-0.266 0.4115-0.4084 0.3134-0.3261 0.4781-0.706 0.4781-1.0954 0-0.3926-0.1678-0.7693-0.4876-1.0859l-1.738-1.7444zm1.1333 3.3336c-0.0031 0-0.0031 0.0032 0 0-0.1234 0.133-0.2501 0.2533-0.3862 0.3863-0.2058 0.1963-0.4147 0.402-0.611 0.6332-0.3198 0.3419-0.6965 0.5033-1.1904 0.5033-0.0475 0-0.0981 0-0.1456-0.0031-0.94025-0.0602-1.814-0.4274-2.4694-0.7409-1.7919-0.8674-3.3653-2.0989-4.6728-3.6597-1.0796-1.3012-1.8014-2.5042-2.2794-3.7958-0.29443-0.7883-0.40207-1.4025-0.35458-1.9818 0.031658-0.3704 0.17412-0.67749 0.43689-0.94025l1.0796-1.0796c0.15513-0.14563 0.31975-0.22477 0.48121-0.22477 0.19945 0 0.36091 0.1203 0.46222 0.22161l0.00949 0.00949c0.19312 0.18046 0.37674 0.36724 0.56986 0.56669 0.09814 0.10131 0.19945 0.20262 0.30075 0.30709l0.86428 0.86428c0.33558 0.33558 0.33558 0.64583 0 0.98141-0.09181 0.09181-0.18045 0.18362-0.27226 0.27226-0.26593 0.27227-0.5192 0.52553-0.79463 0.77247-0.00633 0.00633-0.01266 0.0095-0.01583 0.01583-0.27226 0.27226-0.22161 0.53819-0.16462 0.71865 0.00316 0.0095 0.00633 0.01899 0.00949 0.02849 0.22478 0.54453 0.54136 1.0574 1.0226 1.6684l0.00317 0.00316c0.87378 1.0764 1.795 1.9153 2.8113 2.558 0.1298 0.0823 0.26276 0.1488 0.3894 0.2121 0.11397 0.057 0.22161 0.1108 0.31342 0.1678 0.01266 0.0063 0.02532 0.0158 0.03799 0.0222 0.10764 0.0538 0.20894 0.0791 0.31342 0.0791 0.26276 0 0.42739-0.1646 0.48121-0.2184l1.0827-1.0828c0.1077-0.10764 0.2786-0.23744 0.4781-0.23744 0.1963 0 0.3577 0.12347 0.4559 0.23111 0.0031 0.00317 0.0031 0.00317 0.0063 0.00633l1.7444 1.7444c0.3261 0.323 0.3261 0.6554 0.0031 0.9909z"
                    />
                    <path
                      d="m8.1057 3.568c0.82946 0.1393 1.5829 0.53187 2.1844 1.1334 0.6016 0.60151 0.991 1.355 1.1334 2.1844 0.0348 0.20894 0.2153 0.35457 0.4211 0.35457 0.0253 0 0.0475-0.00316 0.0728-0.00633 0.2343-0.03799 0.3894-0.2596 0.3514-0.49387-0.171-1.0036-0.6458-1.9185-1.3708-2.6435s-1.6399-1.1999-2.6435-1.3708c-0.23427-0.03799-0.45272 0.11713-0.49387 0.34824-0.04116 0.23111 0.1108 0.45588 0.34507 0.49387z"
                    />
                    <path
                      d="m14.983 6.6168c-0.2818-1.6526-1.0606-3.1564-2.2572-4.353-1.1967-1.1967-2.7005-1.9755-4.3531-2.2573-0.2311-0.041156-0.44955 0.11714-0.4907 0.34824-0.038 0.23427 0.11713 0.45272 0.35141 0.49387 1.4753 0.25011 2.8208 0.94976 3.8908 2.0166 1.0701 1.0701 1.7666 2.4156 2.0167 3.8908 0.0348 0.20894 0.2153 0.35457 0.421 0.35457 0.0254 0 0.0475-0.00316 0.0729-0.00633 0.2311-0.03483 0.3894-0.25644 0.3482-0.48754z"
                    />
                  </svg>
                  (+800) 345 678
                </a>
              </li>
              <li class="header__contacts-item">
                <a href="mailto:organicfood@gmail.com">
                  <svg class="icon header__icon" viewBox="0 0 15 17" width="15px" height="15px">
                    <g fill="#black">
                      <path
                        d="m13.169 2.2715h-11.335c-1.0118 0-1.8343 0.86985-1.8343 1.9399v8.193c0 1.07 0.82247 1.9399 1.8343 1.9399h11.331c1.0118 0 1.8343-0.8699 1.8343-1.9399v-8.1897c0.0031-1.0701-0.8194-1.9432-1.8312-1.9432zm0.9963 10.133c0 0.5809-0.4469 1.0536-0.9963 1.0536h-11.335c-0.54934 0-0.99627-0.4727-0.99627-1.0536v-8.1897c0-0.58099 0.44693-1.0537 0.99627-1.0537h11.331c0.5494 0 0.9963 0.47267 0.9963 1.0537v8.1897h0.0031z"
                      />
                      <path
                        d="m9.4601 8.2062 3.6685-3.4794c0.1707-0.16412 0.1862-0.44313 0.031-0.62695-0.1552-0.18053-0.419-0.19694-0.5928-0.03282l-5.0589 4.8022-0.98696-0.93221c-0.00311-0.00328-0.00621-0.00657-0.00621-0.00985-0.02173-0.02298-0.04345-0.04267-0.06828-0.06237l-4.0161-3.801c-0.1738-0.16412-0.43762-0.14771-0.5928 0.0361-0.15518 0.18382-0.13966 0.46283 0.03414 0.62695l3.712 3.5089-3.6965 3.6599c-0.1676 0.1674-0.17691 0.4464-0.01862 0.627 0.0838 0.0919 0.19553 0.1411 0.30726 0.1411 0.10242 0 0.20484-0.0394 0.28554-0.1182l3.7523-3.7124 1.018 0.96176c0.08069 0.07549 0.18001 0.1116 0.27933 0.1116 0.09931 0 0.20173-0.03939 0.27933-0.11489l1.0459-0.99129 3.7306 3.7485c0.0807 0.0821 0.1863 0.1215 0.2887 0.1215 0.1117 0 0.2203-0.046 0.3041-0.1379 0.1583-0.1772 0.1521-0.4595-0.0155-0.6269l-3.684-3.6993z"
                      />
                    </g>
                  </svg>
                  Organicfood@gmail.com
                </a>
              </li>
            </ul>
            <ul class="header__switch">
              <li class="header__switch-item header__contacts-item">
                <svg class="icon header__icon" viewBox="0 0 15 15" width="15px" height="15px">
                  <path
                    d="m13.041 3.8991h-9.1359c-0.84655 0-1.5386-0.68898-1.5386-1.5386 0-0.84655 0.68899-1.5386 1.5386-1.5386h9.139c0.2286 0 0.4109-0.18538 0.4109-0.41092 0-0.22863-0.1854-0.41092-0.4109-0.41092h-9.139c-1.3007 0-2.3605 1.0597-2.3605 2.3604v10.279c0 1.3008 1.0597 2.3605 2.3605 2.3605h9.139c0.2286 0 0.4109-0.1854 0.4109-0.4109v-10.279c-0.0031-0.22554-0.1854-0.41092-0.414-0.41092zm-0.4109 10.279h-8.725c-0.84655 0-1.5386-0.689-1.5386-1.5387v-8.4871c0.41401 0.3553 0.9516 0.57158 1.5386 0.57158h8.725v9.4542z"
                  />
                  <path
                    d="m4.0349 1.9866c-0.22863 0-0.41092 0.18538-0.41092 0.41092s0.18538 0.41092 0.41092 0.41092h7.7179c0.2286 0 0.4109-0.18538 0.4109-0.41092s-0.1854-0.41092-0.4109-0.41092h-7.7179z"
                  />
                  <path
                    d="m5.4814 12.38c0.04635 0.0155 0.09269 0.0248 0.13904 0.0248 0.16992 0 0.32749-0.1051 0.38619-0.2719l0.50052-1.3996h1.9279c0.01545 0 0.03399 0 0.04943-0.0031l0.50052 1.4027c0.0587 0.1668 0.21936 0.2719 0.3862 0.2719 0.04634 0 0.09269-0.0093 0.13903-0.0248 0.21318-0.0772 0.32441-0.312 0.24717-0.5252l-1.8723-5.2492c-0.00309-0.01236-0.00927-0.02472-0.01545-0.03708-0.00309-0.00618-0.00618-0.01236-0.00927-0.01853-0.00309-0.00618-0.00617-0.01236-0.00926-0.01854s-0.00927-0.01236-0.01236-0.02163c-0.00309-0.00309-0.00618-0.00927-0.00927-0.01236-0.00309-0.00618-0.00927-0.01236-0.01545-0.01854-0.00309-0.00308-0.00618-0.00926-0.01236-0.01235-0.00309-0.00618-0.00927-0.00927-0.01545-0.01545s-0.00927-0.00927-0.01544-0.01545c-0.00309-0.00309-0.00927-0.00618-0.01236-0.01236-0.00618-0.00618-0.01236-0.00927-0.01854-0.01545-0.00309-0.00309-0.00927-0.00617-0.01236-0.00926-0.00618-0.00309-0.01236-0.00927-0.01854-0.01236s-0.01235-0.00618-0.01853-0.00927l-0.01854-0.00927c-0.01236-0.00618-0.02472-0.01236-0.03708-0.01545h-0.00309c-0.01235-0.00309-0.02471-0.00618-0.03707-0.00927-0.00618 0-0.00927-0.00309-0.01545-0.00309-0.00927-0.00309-0.01545-0.00309-0.02472-0.00618-0.00618 0-0.01235 0-0.01853-0.00309-0.00618 0-0.01545-0.00309-0.02163-0.00309h-0.01854-0.02163c-0.00618 0-0.01544 0-0.02162 0.00309-0.00618 0-0.01236 0-0.01854 0.00309-0.00927 0-0.01545 0.00309-0.02472 0.00618-0.00618 0-0.00927 0.00309-0.01545 0.00309-0.01235 0.00309-0.02471 0.00618-0.03398 0.00927h-0.00309c-0.01236 0.00309-0.02472 0.00927-0.03708 0.01545-0.00618 0.00309-0.01235 0.00618-0.01853 0.00927l-0.01854 0.00927c-0.00618 0.00309-0.01236 0.00927-0.02163 0.01236-0.00309 0.00309-0.00927 0.00617-0.01236 0.00926-0.00618 0.00618-0.01235 0.00927-0.01853 0.01545-0.00309 0.00309-0.00927 0.00618-0.01236 0.01236l-0.0309 0.0309c-0.00309 0.00309-0.00618 0.00927-0.01236 0.01235-0.00618 0.00618-0.00927 0.01236-0.01544 0.01854-0.00309 0.00309-0.00618 0.00927-0.00927 0.01236-0.00309 0.00618-0.00927 0.01236-0.01236 0.01854l-0.00927 0.01854c-0.00309 0.00618-0.00618 0.01235-0.00927 0.01853-0.00618 0.01236-0.01236 0.02472-0.01545 0.03708l-1.8785 5.2492c-0.06797 0.2163 0.04325 0.4511 0.25643 0.5283zm2.0175-4.415 0.69516 1.9464h-1.3934l0.69825-1.9464z"
                  />
                </svg>
                English
              </li>
              <li class="header__switch-item header__contacts-item">
                <svg class="icon header__icon" viewBox="0 0 15 15" width="15px" height="15px">
                  <path
                    d="m12.803 2.1967c-1.4165-1.4166-3.3-2.1967-5.3033-2.1967s-3.8868 0.78012-5.3033 2.1967c-1.4165 1.4166-2.1967 3.3-2.1967 5.3033s0.78015 3.8868 2.1967 5.3033c1.4166 1.4166 3.3 2.1967 5.3033 2.1967s3.8868-0.7801 5.3033-2.1967c1.4166-1.4165 2.1967-3.3 2.1967-5.3033s-0.7801-3.8868-2.1967-5.3033zm-5.3033 11.924c-3.6509 0-6.6211-2.9702-6.6211-6.6211 0-3.6509 2.9702-6.6211 6.6211-6.6211 3.6509 0 6.6211 2.9702 6.6211 6.6211 0 3.6509-2.9702 6.6211-6.6211 6.6211z"
                  />
                  <path
                    d="m7.9707 7.0605h-0.94143c-0.53634 0-0.97266-0.43632-0.97266-0.97263 0-0.53634 0.43635-0.97266 0.97266-0.97266h1.8828c0.2427 0 0.43946-0.19675 0.43946-0.43945 0-0.24269-0.19676-0.43945-0.43946-0.43945h-0.97266v-0.97266c0-0.24269-0.19676-0.43945-0.43945-0.43945-0.2427 0-0.43946 0.19676-0.43946 0.43945v0.97266h-0.03123c-1.021 0-1.8516 0.83062-1.8516 1.8516s0.83063 1.8515 1.8516 1.8515h0.94143c0.53631 0 0.97263 0.43635 0.97263 0.97266s-0.43632 0.97266-0.97263 0.97266h-1.8828c-0.24269 0-0.43945 0.19676-0.43945 0.43946s0.19676 0.4394 0.43945 0.4394h0.97263v0.9727c0 0.2427 0.19676 0.4395 0.43946 0.4395 0.24269 0 0.43945-0.1968 0.43945-0.4395v-0.9727h0.03126c1.0209 0 1.8515-0.83058 1.8515-1.8515s-0.8306-1.8516-1.8515-1.8516z"
                  />
                </svg>
                USD
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container header__container-drop-down header__container-mobile not-visible" data-menu>
        <div class="header__main">
          <button class="btn-open btn-open--close" data-close>
            <svg fill="none" viewBox="0 0 19 19" width="19px" height="19px">
              <path
                d="m18.667 1.88-1.88-1.88-7.4534 7.4533-7.4533-7.4533-1.88 1.88 7.4533 7.4533-7.4533 7.4534 1.88 1.88 7.4533-7.4534 7.4534 7.4534 1.88-1.88-7.4534-7.4534 7.4534-7.4533z"
                fill="#212121"
              />
            </svg>
          </button>
          <ul class="header__links">
            <li class="header__link-item">

              {{#if homePage}}
              <a class="header__link header__link--current" href="/">Home</a>
              {{else}}
              <a class="header__link" href="/">Home</a>
              {{/if}}

            </li>
            <li class="header__link-item">

              {{#if shopPage}}
              <a class="header__link header__link-flex header__link--current" href="" data-link>
              {{else}}  
              <a class="header__link header__link-flex" href="" data-link>
              {{/if}}  

                Shop
                <svg enable-background="new 0 0 330 330" version="1.1" viewBox="0 0 330 330" width="12px" height="12px">
                  <path
                    d="m325.61 79.393c-5.857-5.857-15.355-5.858-21.213 1e-3l-139.39 139.39-139.4-139.39c-5.857-5.857-15.355-5.858-21.213 1e-3 -5.858 5.858-5.858 15.355 0 21.213l150 150c2.813 2.813 6.628 4.393 10.606 4.393s7.794-1.581 10.606-4.394l150-150c5.859-5.857 5.859-15.355 1e-3 -21.213z"
                  />
                </svg>
              </a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="">About</a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="">Blog</a>
            </li>
            <li class="header__link-item">
              <a class="header__link" href="">Contact</a>
            </li>
          </ul>

          {{#if shopPage }}
          <h2 class="logo"><span class="logo--secondary">Orga</span>Fresh</h2>
          {{else}}
          <h2 class="logo">OrgaFresh</h2>
          {{/if}}

          <ul class="header__icons">
            <li class="header__icons-item">
              <a href="">
                <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                  <path
                    d="m24.17 22.759-5.376-5.376c1.5186-1.8408 2.3438-4.1308 2.3438-6.543 0-2.7539-1.0693-5.3369-3.0176-7.2851-1.9433-1.9482-4.5312-3.0176-7.2803-3.0176-2.749 0-5.3369 1.0693-7.2851 3.0176-1.9482 1.9434-3.0176 4.5312-3.0176 7.2851 0 2.7491 1.0693 5.337 3.0176 7.2852 1.9434 1.9434 4.5312 3.0176 7.2851 3.0176 2.417 0 4.7071-0.8252 6.543-2.3438l5.376 5.3711c0.3906 0.3906 1.0205 0.3906 1.4111 0s0.3906-1.0205 0-1.4111zm-19.204-6.0498c-1.5723-1.5674-2.4365-3.6524-2.4365-5.8692 0-2.2168 0.86425-4.3066 2.4316-5.874 1.5674-1.5674 3.6523-2.4316 5.8741-2.4316 2.2168 0 4.3066 0.86426 5.874 2.4316s2.4316 3.6523 2.4316 5.874c0 2.2168-0.8642 4.3067-2.4316 5.8741-1.5674 1.5673-3.6572 2.4316-5.874 2.4316-2.2168 0-4.3018-0.8643-5.8692-2.4365z"
                  />
                </svg>
              </a>
            </li>
            <li class="header__icons-item">
              <a href="">
                <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                  <path
                    d="m22.788 3.2312c-1.4458-1.4458-3.3801-2.2419-5.4473-2.2419-1.7797 0-3.4607 0.59023-4.8165 1.6769-1.3753-1.0866-3.0585-1.6769-4.8208-1.6769-2.0768 0-4.0162 0.79648-5.4619 2.2419-1.4457 1.4455-2.2419 3.3801-2.2419 5.447 0 2.0672 0.79614 4.0015 2.2419 5.4469l9.6223 9.6224c0.1754 0.1756 0.4056 0.2634 0.6358 0.2634 0.2296 0 0.4592-0.0875 0.6349-0.2623l9.6301-9.6007c1.4415-1.4739 2.235-3.4109 2.235-5.4547 0-2.0626-0.783-3.9997-2.2116-5.462zm-1.3013 9.6508-8.9862 8.9587-8.9874-8.9871c-1.1058-1.1061-1.7149-2.589-1.7149-4.1754 0-1.5863 0.60913-3.0692 1.7149-4.1754 1.1061-1.1058 2.5941-1.7149 4.1903-1.7149 1.5708 0 3.0618 0.61182 4.1976 1.7221 0.3519 0.34443 0.9163 0.34141 1.2644-0.00718 1.1061-1.1058 2.5887-1.7149 4.1753-1.7149s3.0693 0.60913 4.1679 1.7077c1.0914 1.1166 1.6924 2.6073 1.6924 4.1976 0 1.5711-0.6115 3.0617-1.7143 4.1888z"
                  />
                </svg>
              </a>
            </li>
            <li class="header__icons-item">
              <a href="" data-shopCart>
                <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                  <path
                    d="m22.834 23.956-1.5213-16.942c-0.0415-0.46266-0.4293-0.81704-0.8937-0.81704h-3.1372v-1.4149c0-2.6369-2.1452-4.7822-4.782-4.7822-2.6367 0-4.7816 2.1453-4.7816 4.7822v1.4149h-3.1393c-0.46445 0-0.85222 0.35438-0.89373 0.81704l-1.5272 17.008c-0.02249 0.251 0.0615 0.4997 0.23151 0.6857 0.17002 0.1859 0.41038 0.2918 0.66223 0.2918h18.895 0.0024c0.4956 0 0.8973-0.4018 0.8973-0.8973-1e-4 -0.0499-0.0042-0.0991-0.0121-0.1468zm-13.321-19.174c0-1.6474 1.34-2.9876 2.9871-2.9876 1.6473 0 2.9874 1.3402 2.9874 2.9876v1.4149h-5.9745v-1.4149zm-5.4796 18.423 1.3661-15.214h2.3189v1.6046c0 0.49556 0.40164 0.89736 0.89733 0.89736 0.49568 0 0.89732-0.4018 0.89732-0.89736v-1.6046h5.9745v1.6046c0 0.49556 0.4017 0.89736 0.8973 0.89736 0.4957 0 0.8974-0.4018 0.8974-0.89736v-1.6046h2.3167l1.3661 15.214h-16.932z"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <div class="drop-down drop-down--non-visible" data-dropDown>
          <ul class="drop-down__list">
            <p class="drop-down__heading">Categories</p>
            <li class="drop-down__sub-list">
              <ul class="drop-down__sub-list__list drop-down__sub-list__list--first">
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=fruits">Fresh fruits</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=vegetables">Fresh Vegetables</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=meats">Fresh Meats</a></li>
              </ul>
              <ul class="drop-down__sub-list__list">
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=grainAndNuts">Grain & nuts</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=smoothies">Smoothies</a></li>
                <li class="drop-down__item"><a class="header__link drop-down__link" href="/products/?category=all">All products</a></li>
              </ul>
            </li>
          </ul>
          <ul class="drop-down__list drop-down__list--last">
            <p class="drop-down__heading">Shop Pages</p>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="">Cart</a></li>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="">Checkout</a></li>
            <li class="drop-down__item"><a class="header__link drop-down__link" href="">Wishlist</a></li>
          </ul>
        </div>
      </div>

      <div class="container header__container">
        <div class="header__main-mobile">
          <h2 class="logo header__logo">OrgaFresh</h2>
          <button class="btn-open" data-open>
            <svg fill="none" viewBox="0 0 24 16" width="24px" height="16px">
              <path
                d="M0 2.66667V0H24V2.66667H0ZM0 9.33333H24V6.66667H0V9.33333ZM0 16H24V13.3333H0V16Z"
                clip-rule="evenodd"
                fill="#000"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
    </header>