 <section class="hero">
  <div class="container">
    <p class="hero__text">Fresh and tasty</p>
    <h1 class="hero__heading">Organic Shop Fruits & Vegetables</h1>
    <a class="button" href="">shop now</a>
  </div>
</section>