<div class="shop-cart__overlay shop-cart__overlay--is-hidden">
      <div class="shop-cart">
        <div>
          <div class="shop-cart__header">
            <p class="shop-cart__heading">Shopping cart</p>
            <ul class="header__icons">
              <li class="header__icons-item">
                <a href="">
                  <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                    <path d="m24.17 22.759-5.376-5.376c1.5186-1.8408 2.3438-4.1308 2.3438-6.543 0-2.7539-1.0693-5.3369-3.0176-7.2851-1.9433-1.9482-4.5312-3.0176-7.2803-3.0176-2.749 0-5.3369 1.0693-7.2851 3.0176-1.9482 1.9434-3.0176 4.5312-3.0176 7.2851 0 2.7491 1.0693 5.337 3.0176 7.2852 1.9434 1.9434 4.5312 3.0176 7.2851 3.0176 2.417 0 4.7071-0.8252 6.543-2.3438l5.376 5.3711c0.3906 0.3906 1.0205 0.3906 1.4111 0s0.3906-1.0205 0-1.4111zm-19.204-6.0498c-1.5723-1.5674-2.4365-3.6524-2.4365-5.8692 0-2.2168 0.86425-4.3066 2.4316-5.874 1.5674-1.5674 3.6523-2.4316 5.8741-2.4316 2.2168 0 4.3066 0.86426 5.874 2.4316s2.4316 3.6523 2.4316 5.874c0 2.2168-0.8642 4.3067-2.4316 5.8741-1.5674 1.5673-3.6572 2.4316-5.874 2.4316-2.2168 0-4.3018-0.8643-5.8692-2.4365z"/>
                  </svg>
                </a>
              </li>
              <li class="header__icons-item">
                <a href="">
                  <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                    <path d="m22.788 3.2312c-1.4458-1.4458-3.3801-2.2419-5.4473-2.2419-1.7797 0-3.4607 0.59023-4.8165 1.6769-1.3753-1.0866-3.0585-1.6769-4.8208-1.6769-2.0768 0-4.0162 0.79648-5.4619 2.2419-1.4457 1.4455-2.2419 3.3801-2.2419 5.447 0 2.0672 0.79614 4.0015 2.2419 5.4469l9.6223 9.6224c0.1754 0.1756 0.4056 0.2634 0.6358 0.2634 0.2296 0 0.4592-0.0875 0.6349-0.2623l9.6301-9.6007c1.4415-1.4739 2.235-3.4109 2.235-5.4547 0-2.0626-0.783-3.9997-2.2116-5.462zm-1.3013 9.6508-8.9862 8.9587-8.9874-8.9871c-1.1058-1.1061-1.7149-2.589-1.7149-4.1754 0-1.5863 0.60913-3.0692 1.7149-4.1754 1.1061-1.1058 2.5941-1.7149 4.1903-1.7149 1.5708 0 3.0618 0.61182 4.1976 1.7221 0.3519 0.34443 0.9163 0.34141 1.2644-0.00718 1.1061-1.1058 2.5887-1.7149 4.1753-1.7149s3.0693 0.60913 4.1679 1.7077c1.0914 1.1166 1.6924 2.6073 1.6924 4.1976 0 1.5711-0.6115 3.0617-1.7143 4.1888z"/>
                  </svg>
                </a>
              </li>
              <li class="header__icons-item">
                <a href="">
                  <svg class="icon header__icon-main" viewBox="0 0 25 25" width="25px" height="25px">
                    <path d="m22.834 23.956-1.5213-16.942c-0.0415-0.46266-0.4293-0.81704-0.8937-0.81704h-3.1372v-1.4149c0-2.6369-2.1452-4.7822-4.782-4.7822-2.6367 0-4.7816 2.1453-4.7816 4.7822v1.4149h-3.1393c-0.46445 0-0.85222 0.35438-0.89373 0.81704l-1.5272 17.008c-0.02249 0.251 0.0615 0.4997 0.23151 0.6857 0.17002 0.1859 0.41038 0.2918 0.66223 0.2918h18.895 0.0024c0.4956 0 0.8973-0.4018 0.8973-0.8973-1e-4 -0.0499-0.0042-0.0991-0.0121-0.1468zm-13.321-19.174c0-1.6474 1.34-2.9876 2.9871-2.9876 1.6473 0 2.9874 1.3402 2.9874 2.9876v1.4149h-5.9745v-1.4149zm-5.4796 18.423 1.3661-15.214h2.3189v1.6046c0 0.49556 0.40164 0.89736 0.89733 0.89736 0.49568 0 0.89732-0.4018 0.89732-0.89736v-1.6046h5.9745v1.6046c0 0.49556 0.4017 0.89736 0.8973 0.89736 0.4957 0 0.8974-0.4018 0.8974-0.89736v-1.6046h2.3167l1.3661 15.214h-16.932z"/>
                  </svg>
                </a>
              </li>
            </ul>
            <button class="shop-cart__btn">Close</button>
          </div>

          <div class="shop-cart__main">
            <ul class="shop-cart__list">
              
            </ul>
          </div>
        </div>

        <div class="shop-cart__footer">
          <div class="shop-cart__total">
            <p class="shop-cart__heading shop-cart__heading--footer">Subtotal</p>
            <span class="shop-cart__quantity">0</span>
          </div>
          <button class="shop-cart__footerBtn">View cart</button>
          <button class="shop-cart__footerBtn shop-cart__footerBtn--last">Checkout</button>
        </div>
      </div>
    </div>