@import '~normalize.css';
@import 'roboto.css';

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  background-image: url('../assets/valtech-logo.png');
  background-size: cover;
  height: 200px;
  width: 400px;
  margin: 0 auto;
}
