$primary-font-family: 'Jost';
$secondary-font-family: 'LobsterTwo';
$additional-font-family: 'Quicksand';
$extra-font-family: 'Poppins';

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$additional-text-color: #88b13e;

$accent-color: #60a00c;
$extra-accent-color: #88b13e;
$hero-bg-color: #99ecfe;
$primary-bg-color: #ffffff;
$secondary-bg-color: #39413a;
