<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="8ce9694720c2e9cf4889.ico" type="image/ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
  <link type="text/css" rel="stylesheet"  href="main.css">
  <title>OrgaFresh</title>
  <script defer="defer" src="vendors-node_modules_babel_polyfill_lib_index_js.js"></script><script defer="defer" src="main.js"></script>
</head>
<body>

  {{> header }}
  <main>

    {{> PLP_list }}
    {{> PLP_contacts }}

  </main>
  {{> shop_cart }}
  {{> footer }}

<script src="a0ff5fb74daa17e791b8.js"></script>
</body>
</html>
