.contacts--additional {
  padding-top: 30px;
  background-color: white;
}

.contact {
  padding: 80px 0;
  background-color: #99ecfe;

  &--header-fixed {
    padding-top: 180px;
  }
}

.container__contact {
  display: flex;
  justify-content: space-between;
}

.contact__contacts {
  flex-direction: column;
}

.contact__heading {
  margin-bottom: 20px;
}

.contact__info {
  align-self: center;
}

.contact__call-info {
  margin-bottom: 30px;
}
