.owl-card {
  margin-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: white;
    box-shadow: 0px 5px 25px rgba(138, 159, 168, 0.2);
  }
}

.thumb {
  position: relative;
  height: 258px;
  background-color: #fafafa;
  margin-bottom: 30px;
  padding-top: 12px;
}

.thumb__discount {
  position: absolute;
  width: 58px;
  height: 20px;
  background-color: #e32d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
}

.thumb__discount-number {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.thumb__like-btn {
  height: 35px;
  width: 35px;
  border: 1px solid rgba($color: #111111, $alpha: 0.1);
  margin: 0 10px 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #fcbbcf;
    border: none;
  }

  &:hover path {
    fill: white;
  }
}

.thumb__like-btn path {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb__buttons-list {
  position: absolute;
  display: flex;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.thumb__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba($color: #111111, $alpha: 0.1);
  background-color: #fafafa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #bdbdbd;
  }
}

.thumb__button-add-to-card {
  width: 118px;
  height: 35px;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: #87aa3c;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 5px 0 5px;

  & svg {
    margin-right: 9px;
  }

  &:hover {
    background-color: #607533;
  }
}

.card-item__text {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.card-item__price {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.card-item__old-price {
  font-size: 15px;
  font-weight: 400;
  text-decoration-line: line-through;
  color: #888888;
  margin-left: 5px;
}
