.shop-cart__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;

  &--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.shop-cart {
  position: absolute;
  width: 450px;
  height: 100%;
  background-color: white;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.shop-cart__heading {
  font-weight: 600;
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;

  &--footer {
    margin-bottom: 0;
  }
}

.shop-cart__btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-weight: 600;
  font-size: 15px;
  color: #888888;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shop-cart__header {
  padding: 20px 30px 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.shop-cart__main {
  padding: 20px 30px;
  overflow: auto;
}

.shop-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.shop-cart__imgThumb {
  width: 90px;
  height: 90px;
  background: #c4c4c4;
}

.shop-cart__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.67;
  color: #333333;
}

.shop-cart__quantity {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.39;
  color: #60a00c;
}

.shop-cart__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.39;
  color: #111111;
}

.shop-cart__btn-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.shop-cart__info {
  margin-right: 120px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.shop-cart__footer {
  padding: 20px 30px 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.shop-cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.shop-cart__footerBtn {
  height: 46px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #111111;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 1px solid #60a00c;
    background-color: transparent;
    color: #60a00c;
  }

  &--last {
    border: 1px solid white;
    background-color: black;
    color: white;
  }
}
