.whyUs {
  padding: 325px 0 130px;
}

.whyUs__heading {
  text-align: center;
  margin-bottom: 45px;
}

.whyUs__collection-pic {
  width: 60px;
  height: 50px;
  position: relative;
  margin-right: 30px;

  &--last {
    margin-right: 0;
    margin-left: 30px;
  }
}

.whyUs__collection-svg {
  position: absolute;
  top: 20px;
  fill: #fda72f;
}

.whyUs__collection-element {
  display: flex;
  align-items: center;
}

.whyUs__collection-heading {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 10px;

  &--last {
    text-align: right;
  }
}

.whyUs__collection-text {
  font-weight: 400;
  font-size: 15px;
  width: 320px;

  &--last {
    text-align: right;
  }
}

.whyUs__collection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
